// **************************************
// ******* HERO *******************
// ***************************************

.section--hero {
  position: relative;
  align-items: center;
  background-image: url('../images/homepage/homepage-hero--clouds.jpg');
  background-position: center;  
  background-repeat: no-repeat;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;       
  .contents {
    height: 100em;
    height: 100vh;
    // margin bottom makes up for margin on top of nav
    margin-bottom: -1.5em;
  }
  .header--hero { @include center; width: 100%;}
}
.header--hero {
  text-shadow: .2em .3em .2em rgba($black, .3);
}



.more-link--chevron {
  display: inline-block;
}
.chevron-down--more {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%) rotate(-45deg));
  bottom: 2em;
  display: block;
  height: 3em;
  width: 3em;
  border: 4px solid $white;
  border-right-color: transparent;
  border-top-color: transparent;

}

.section--what-we-do, .section--who-we-are, {
  background-color: $white;
  .header { color: $blue }
}


// **************************************
// ******* WHAT WE DO *******************
// ***************************************
.section--what-we-do, .section--who-we-are, .section--press, .section--contact {
  & .contents {
    padding-top: 5em;
    padding-bottom: 5em;
    @include media($device) {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
  & .header {
    padding-bottom: .75em;
    @include media($device) {
      padding-bottom: .4em;
    }
  }

}



.section--what-we-do,  {
  & .contents { border-bottom: 4px solid $blue; }
}

.list--what-we-do,
.list--team--primary,
.list--team--secondary,
.list--press {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.list--what-we-do {
  width: 100%;
  display: block;

  @include media($device) {
    display: block;
  }
}
.item--what-we-do {
  position: relative;
  display: block;
  float: left;
  width: 33.33% ;
  padding-bottom: 33.33%;


  background: grey;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media($device) {
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 2em;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
  &:nth-child(odd):before {
    @include linear-gradient(160deg, rgba($blue, .3) 0%, rgba($blue, 0) 60%, $fallback: rgba(0,0,0,0));
  }
  &:nth-child(even):before {
    @include linear-gradient(45deg, rgba($blue, .3) 0%, transparent 40%, $fallback: rgba(0,0,0,0));
  }

}

.what-we-do--title {
  width: 75%;
  padding: 7.5% 0;
  border: 4px solid $blue;
  font-family: $headerfont;
  font-size: 2.3em;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  @include center;
}




// **************************************
// ******* WHO WE ARE *******************
// ***************************************

.list--team--primary, .list--team--secondary {
  @include display(flex);
  @include media($device) { display: block; }
}

.list--team--primary {
  width: 100%;
  margin-bottom: 3em;
 }
.list--team--secondary {
  width: 75%;
  margin: auto;
  @include media($device) {
    width: 85%;
  }
 }

.item--team-member {
  position: relative;
  @include flex-grow(4);
  background: grey;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;

  @include media($device) {
    margin-bottom: 2em;
  }

  &:hover {
    .member-name {
      @include media($desktop) {
        opacity: 0;
        bottom: 0;
      }
    }
    .member-title {
      @include media($desktop) {
        opacity: 1;
        bottom: .25em;
      }
    }
  }
}

.black-overlay {
  position: absolute;  
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include linear-gradient(0deg, rgba($black, .3) 0%, rgba($black, .2) 15%, rgba($black, 0) 25%, $fallback: rgba($black, .1));    
}

.member-meta {
  position: absolute;  
  width: 100%;
  bottom: 0;
  @include centerX;
}

.member-image {
  position: relative;
  width: 100%;
  height: auto;
  vertical-align: middle;  
  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: red;
  }
}

.member-name, .member-title {
  position: absolute;
  @include centerX;
  width: 100%;
  transition: all .3s ease;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 0 0 .2em rgba($black, .8);  
  @include media($device) {
    font-size: 1.8rem;
    position: relative;
  }
}


.member-name {
  opacity: 1;
  bottom: .25em;
  margin-bottom: .25em;  
  @include media($device) {
    font-size: 1.4rem;
  }
}

.member-title {
  opacity: 0;
  bottom: 2em;
  @include media($device) {
    opacity: 1;
    bottom: .5em;
    font-size: 1rem;
    font-weight: 500;
  }
}


// **************************************
// ******* PRESS *******************
// ***************************************
$press-background: $white;
$press-text: $black;

.section--press{
  background-color: $black;
}
.list--press {
  max-width: em(800);
  width: 100%;
  margin: auto;
}

.item--press {
  background-color: $press-background;
  color: $black;
  margin-bottom: 3em;
  padding: 2em 2em;
  text-align: left;
  @include media($device) {
    padding: 1.5em;
  }
  .article--title {
    color: $black;
    color: $blue;
    font-size: 2.75em;
    text-align: left;
    letter-spacing: 2px;
    @include media($device) {
      font-size: 1.75rem;
    }
  }
  .article-content  {
    font-size: 1.4em;
    @include media($device) {
      font-size: 1.2rem;
    }
  }
  .article-source {
    text-align: left;
    letter-spacing: 1px;   
    a { 
      font-size: 1.8em;      
      color: $press-text;
      @include media($device) {
        font-size: 1.5em;
      }      
    }

  }
}

// **************************************
// ******* CONTACT *******************
// ***************************************

.contact-background {
  display: block;
  background-color: $black;
}

.section--contact {

  .header {
    padding-bottom: .25em;

  }
  .contents {
    margin: auto;
    border-top: 4px solid $blue;    

  }

}


.wufoo {
  background: transparent;
  margin: auto;
  max-width: em(600);  
  ul { padding: 0; list-style-type: none; }

  label, input, select, textarea{
    font-size: 2em;
    @include media($device) {
      font-size: 1.5rem;
      line-height: 1;
    }
  }  

  input, textarea { 
    color: $black; 
    width: 100%;
    border: 4px solid transparent;
  }

  label { font-weight: 900; }

  textarea { height: 8em; }

  textarea:focus, input:focus {
    color: $black;
    outline: none;
    border-color:$blue;
  }

  .input--small {
    display: block;
    float: left;
    width: 48%;
    margin-bottom: 1em;
    &:first-of-type{
      margin-right: 4%;
      @include media($device) {
        margin-right: 0;      
      }      
    }
    @include media($device) {
      width: 100%;      
    }

  }

  .input--large {
    display: block;
    float: left;
    width: 100%;
    background-color: transparent;
    margin-bottom: 1em;
  }

  .hide { height: 0; visibility: hidden; opacity: 0; }

  input[type="submit"] {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: em(200);
    background-color: $blue;
    color: $white;
    outline: none !important;
    border: none;
    line-height: 2;

    &:hover {
      background: lighten($blue, 5%);
    }
  }
}

.submission-confirmation {
  display: none;
  top: -150%;
  [class*="contact-confirmation"] & {
   position: absolute;
   width: 100%;
   top: 0;
   background-color: rgba($blue, .9);
   display: block;
   z-index: 99;
   padding: 1em 2em;
   @include transition(all 2s ease);
   &.confirmation-close {  
   }   
  }
}

[class*="contact-confirmation"] .submission-confirmation{}

.confirmation-copy {
  color: $white;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;  
}
.close-confirmation {
  position: absolute;
  right: 1em;
  // top: 50%;
  @include centerY;
  font-size: 1rem;
  line-height: 1.2;  
}


