.our-team-background {
  display: block;
  background-image: url('../images/our-team/Our-Team-Hero-Edited.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;  
  height: 100vh;
}

.section--our-team--hero {
  position: relative;
  .contents { height: 100em; height: 100vh; }
  .header--hero .header{ @include center; }
  .chevron-down--more { bottom: 4em; }  
}

.players-background {
  display: block;
  background-color: $white;
}
.section--players {
  color: $black;
  padding: 3em 0 0 0;
}
.main-gallery{
  padding-bottom: 45%;
  @include media($device) { padding-bottom: 50%; }
}

/* viewport inherit size from gallery */
.main-gallery .flickity-viewport {
  position: absolute;
  width: 100%;
}

.gallery-cell {
  height: 100%;
  width: 34%;
  padding: 0 2%;

  @include media($device) {
    width: 34%;
    padding: 0 2%;
  }


  text-align: center;
  opacity: .35;
  @include transform(scale(0.85));
  @include transition(all .4s ease .25s);



  &.is-selected {
    opacity: 1;
    @include transform(scale(1));
    & img {
      @include filter(grayscale(0%));
    }
  }

  img {
    width: 100%;
    max-width: initial;
    height: auto;
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-bottom: 3px solid $black;
    @include filter(grayscale(100%));    
        

    @include media($device) {
      width: 100%;
      padding-bottom: 1em;
      margin-bottom: .5em;
    }
  }
}

.flickity-prev-next-button {
  @include media($device) {
    width: 3rem;
    height: 3rem;
  }
}


.player--name, .player--team {
  color: black;
  text-align: center;
}

.player--name {
  font-size: 3rem;
  font-size: 3vw;
  @include media($device) {    
    font-size: 1.85rem;
    font-size: 4vw;
  }
}

.player--team {
  font-weight: 100;
  font-size: 2vw;
  @include media($device) {
    font-size: 1.3rem;
    font-size: 3vw; 
    letter-spacing: 1px;
  }
}

.page-id-32 {
  .section--footer {
    padding-top: 0;
  }
  .footer--logo {
    max-width: 325px;
    @include media($device){
      margin-top: 5%;
      max-width: 50%;
    }
  }
}
