// Social Colors
$twitter: #63cdf1;
$facebook: #507cbe;
$pinterest: #f16261;
$instagram: #517fa4;
$youtube: #bb0000;


// Utility Colors
$error: #f84040;
$success: #a7e272;
$warning: #f6ad3b;

// Color Colors
$white: #ffffff;
$black: #1b1b1b;
$black: #1c1c1c;
$black-grey: #2d2d2d;
$black--true: #000000;
$gray: #6e6e6e;
$grey: $gray;
$gray-light: #f7f7f7;
$grey-light: $gray-light;
$blue: #45aae0;
$gold: #ffc600;


// Convention Colors
$black-text: $black-grey;
$black-background: $black;
$black-shadow: $black;



//Module Colors
$link-hover: $blue;
