$headerfont: "alternate-gothic-no-1-d", 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$basefont:  "acumin-pro-condensed", sans-serif;



h1, h2, h3, h4, h5, h6, {
  font-family: $headerfont;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: $white;


}

a, li a, a li {
  text-decoration: none;
  color: $black;
}

h1 {
  font-size: 8.5em;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin: 0;
  line-height: 1;
  @include media($device) { font-size: 5rem; }
}

h2 {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1px;
  @include media($mobile-medium) { font-size: 3.5rem; }
}

h3 {
  font-size: 2rem;
  @include media($mobile-medium) { font-size: 1.2rem; }
}

h4 { font-size: 1rem; }

h5 { font-size: 1rem; }
h6 { font-size: 1rem; }
p, a, {
  font-size: 1.1rem;
  line-height: 1.3;
  margin: 0 0 .75em 0;
}
