[class*="section--"] {
  @include outer-container;
  padding-left: 5em;
  padding-right: 5em;
  @include media($device) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.contents {
  @include inner-container;
}


#wpadminbar {
  display: none;
}


.inner-container {
  @include inner-container;
}

@mixin centerX {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin centerY {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}


@mixin diffuser {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/diffuser-dots-2.png');
    background-repeat: repeat;
    opacity: .2;
  }
}


@mixin black-layer {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000000, .1);
  }
}
