.footer-background {
  display: block;
  background-color: $white;
}

.section--footer {
  background-color: $white;
  text-align: center;
  padding: 3em 0;
  @include media($device) {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.footer--logo {
  max-width: 450px;
  width: 100%;
  height: auto;
}

.copyright {
  font-size: .8em;
  font-weight: 500;
  margin-top: 1em;
  color: $black;
  @include media($device) {
    font-size: .75rem;
  }
}
