// Z-index Variables
$always-on-top : 5;
$never-to-be-seen : -99;
$just-above-zero : 5;


html {
  margin-top: 0 !important;
}

body {
  background-color: $white;
}

#content {
  @include linear-gradient(
  180deg, 
  rgba($black, .25) 0%, 
  rgba($black, .15) 2.5%, 
  rgba($black, 0) 5%, 
  $fallback: rgba(0,0,0,0)
  );  
}

.header .wrapper {
  @include inner-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;


  @include media($device) {
    padding: 0;
  }
}


// Logo
.logo-link {
  display: inline-block;
  margin-bottom: 0;
  z-index: $always-on-top;
}
.header-logo {
  width: em(200px);
  height: auto;
  vertical-align: middle;
  z-index: $always-on-top;
  @include media($device) {
    width: em(125px);
  }

}



// Hamburger Menu
.hamburger {
  margin-bottom: 0;
  color: $white;
  text-transform: uppercase;
  z-index: $always-on-top;

  .menu-word {
    vertical-align: middle;
  }

  .hamburger--icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 31px;
    height: 4px;
    margin: 14px 0 14px .5em;
    background-color: $white;

    &:before, &:after {
      position: absolute;
      display: block;
      width: 31px;
      height: 4px;
      content: "";
      background-color: $white;
      @include transition(all 0.25s ease-in-out);
    }
    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }

}

.hamburger--icon {
  margin-left: .5em;
}



// Menu is open, close engaged
.hamburger.hamburger--close .hamburger--icon{
  background-color: transparent;
  z-index: $always-on-top;
  &:before {
    // background-color: $grey;
    top: 0;
    @include transform(rotate(45deg));
  }
  &:after {
    // background-color: $grey;
    bottom: 0;
    @include transform(rotate(-45deg));
  }
}




.menu-active {
  height: 100vh;
  overflow: hidden;
}

// Menu
.nav-main {
  z-index: $never-to-be-seen;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $always-on-top;
  padding-top: 8em;
  background-color: rgba($black, .96);
  @include media($device) {
    padding-top: 8em;
  }

  @include transition(opacity .15s ease-out 0s);

  .menu-active &{
    z-index: $just-above-zero;
    opacity: 1;
    visibility: visible;
  }
  .nav{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .nav-item  {
    padding-bottom: .25em;
    font-family: $headerfont;
  }
  .nav-link {
    font-size: 8vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;

    @include media($device) {
      font-size: 15vw;
    }

  }
}

.page-id-32 {
  .logo-link {
    pointer-events: none;    
  }
  .hamburger {
    display: none;
  }
}
