$dot-color: $blue;


div.vNav {
    position: fixed;
    top: 50%;
    @include transform(translateY(-50%));        
    left: 2.5%;
    // width: 50px;
    z-index: 1;      
    list-style-type: none;
    @include media($device) {
      display: none;
      visibility: none;      
    }    
}

.vNav ul {
    position: relative;
    padding: 0;
    // padding-left: 35%;
    list-style: none;
}

.vNav ul li{
    position: relative;
    padding-bottom: .5em;

    color: $dot-color;
}

.vNav a{
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    border-color: rgba($dot-color, 1);
    text-decoration: none;
    @include transition(all 0.1s ease-in);
}

.vNav a:hover{
    border-radius: 50%;
    background-color: rgba($dot-color, 1);
    text-decoration: none;
}

.vNav a.active{
    border-radius: 50%;
    background-color: rgba($dot-color, 1);
    text-decoration: none;
}

.label {
    position: relative;
    top: -60%;
    left: -200%;
    width: 100%;
    text-align: right;
    font-size: 1em;
    color: rgb(113,135,133);
    display: none;
}


