{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}



	<body   class="{{body_class}}" data-template="base.twig" >


		{#### Menu ####}
		<nav id="nav-main" class="nav-main" role="navigation">
		  <ul class="nav">
		    <li class="nav-item  menu-item ">
		      <a {% if fn('is_front_page') %}data-scroll{% endif %} class="nav-link" href="{{ site.url }}#what-we-do">What We Do</a>
		    </li>
		    <li class="nav-item  menu-item ">
		      <a {% if fn('is_front_page') %}data-scroll{% endif %} class="nav-link" href="{{ site.url }}#who-we-are">Who We Are</a>
		    </li>
		    <li class="nav-item  menu-item ">
		      <a {% if fn('is_front_page') %}data-scroll{% endif %} class="nav-link" href="{{ site.url }}#press">Press</a>
		    </li>
		    <li class="nav-item  menu-item ">
		      <a {% if fn('is_front_page') %}data-scroll{% endif %} class="nav-link" href="{{ site.url }}#contact">Contact</a>
		    </li>
		  </ul>
		</nav><!-- #nav -->


		<section id="content" role="main" class="content-wrapper par">

			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>


	{##############################
	###### FOOTER #################
	###############################}

		{% block footer %}
		<span class="footer-background">
			<footer class="section--footer"id="footer">
				{% include 'footer.twig' %}
			</footer>
		</span>		
		{{ function('wp_footer') }}		
		{% endblock %}


		{##############################
		###### Form Submission Confirmation #################
		###############################}		
		<div class="submission-confirmation">
			<h1 class="confirmation-copy">Thank you. We have recevied your form and will response as soon as possible. </h1>
			<span class="close-confirmation">X</span>
		</div>
		

		<script type='text/javascript' id="__bs_script__">//<![CDATA[
		    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.1.js'><\/script>".replace("HOST", location.hostname));
		//]]></script>
		<style> html { margin-top: 0 !important; } </style>		
	</body>
</html>
