<img class="footer--logo" src="{{ theme.link }}/assets/images/Catalyst-Logo-FullColor-Footer.png  ">
<p class="copyright">Copyright {{"now"|date('Y')}} Catalyst Sports & Media. All Rights Reserved.</p>
