

{#### Header Logo and Hamburger ####}
<header class="header" >
  {% block header %}
    <div class="wrapper">
      <a class="logo-link" href="/" rel="home"><img class="header-logo" src="{{ theme.link }}/assets/images/Catalyst-Logo-White-Header.png" height:"400px" alt="Catalyst Sports & Media"></a>
      <a href="javascript:void(0);" class="hamburger"><span class="menu-word">Menu</span><span class="hamburger--icon"></span></a>
    </div>
  {% endblock %}
</header>
