{% extends "base.twig" %}

{% block content %}



{#### Veritcal Dot Navigation ####}
<div class="vNav">
  <ul class="vNav">
    <li><a data-scroll href="#content" class="active"></a></li>     
    <li><a data-scroll href="#what-we-do"></a></li>
    <li><a data-scroll href="#who-we-are"></a></li>
    <li><a data-scroll href="#press"></a></li>
    <li><a data-scroll href="#contact"></a></li>
  </ul>
</div>


<section class="section--hero" >


  <article class="contents">
    {% include "header.twig" %}
    <header class="header--hero">
      <h1 class="header">Make It Happen</h1>
    </header>
	</article>
	<a class="more-link--chevron" data-scroll href="#what-we-do"><span class="chevron-down--more"></span></a>
</section>


<section class="section--what-we-do par" id="what-we-do">
  <article class="contents">
    <h2 class="header">What We Do</h2>

    {% if option.services %}
      <ul class="list--what-we-do">
       {% for item in option.services %}
          <li class="item--what-we-do" style="background-image: url({{TimberImage(item.single_service_image).src}});">
            <span class="what-we-do--title">{{ item.single_service }}</span>
          </li>
       {% endfor %}
     </ul>
    {% endif %}

	</article>
</section>

<section class="section--who-we-are par" id="who-we-are">
  <article class="contents">

    <h2 class="header">Who We Are</h2>

    {% if option.staff_top %}
      <ul class="list--team--primary">
       {% for item in option.staff_top %}

         <li class="item--team-member">
           <img class="member-image" src="{{TimberImage(item.profile_photo).src}}">
           <span class="black-overlay"></span>
           <span class="member-meta">
             <h3 class="member-name">{{item.name}}</h3>
             <h3 class="member-title">{{item.position}}</h3>
           <span>
        </li>
       {% endfor %}
     </ul>
    {% endif %}

    {% if option.staff_bottom %}
      <ul class="list--team--secondary">
       {% for item in option.staff_bottom %}
         <li class="item--team-member">
           <img class="member-image" src="{{TimberImage(item.profile_photo).src}}">
           <span class="black-overlay"></span>
           <span class="member-meta">
             <h3 class="member-name">{{item.name}}</h3>
             <h3 class="member-title">{{item.position}}</h3>
           <span>
        </li>
       {% endfor %}
     </ul>
    {% endif %}

	</article>
</section>

<section class="section--press par" id="press">
  <article class="contents">
    <h2 class="header">Press</h2>

    {% if option.press_article %}
      <ul class="list--press">
       {% for item in option.press_article %}
         <li class="item--press">
            <a target="_blank" href="{{item.article_url}}">
              <h3 class="article--title">{{item.headline}}</h3>
            </a>
           <p class="article-content">{{item.article_summary}}</p>
           <h4 class="article-source"><a target="_blank" href="{{item.article_url}}">- {{item.article_source}}</a></h4>
        </li>
       {% endfor %}
     </ul>
    {% endif %}

	</article>
</section>


<span class="contact-background">
  <section class="section--contact par" id="contact">
    <article class="contents">

      <form accept-charset="UTF-8" action=
      "https://catalystsports.wufoo.com/forms/m1qnkf6p0j0hj7d/#public"
      autocomplete="off" class="wufoo topLabel page" enctype=
      "multipart/form-data" id="form2" method="post" name="form2" novalidate=
      "">
          <header class="info" id="header"><h2 class="header">Contact</h2></header>
          <ul>
              <li class="notranslate input--small" id="foli1">
                  <label class="desc" for="Field1" id="title1">Name</label>
                  <div>
                      <input class="field text medium" id="Field1" maxlength=
                      "255" name="Field1" onkeyup="" tabindex="1" type="text"
                      value="">
                  </div>
              </li>
              <li class="notranslate input--small" id="foli2">
                  <label class="desc" for="Field2" id="title2">Email</label>
                  <div>
                      <input class="field text medium" id="Field2" maxlength=
                      "255" name="Field2" spellcheck="false" tabindex="2"
                      type="email" value="">
                  </div>
              </li>
              <li class="notranslate input--large" id="foli3">
                  <label class="desc" for="Field3" id=
                  "title3">Message</label>
                  <div>
                      <textarea class="field textarea medium" cols="50" id=
                      "Field3" name="Field3" onkeyup="" rows="10" spellcheck=
                      "true" tabindex="3"></textarea>
                  </div>
              </li>
              <li class="buttons">
                  <div>
                      <input class="btTxt submit" id="saveForm" name=
                      "saveForm" type="submit" value="Submit">
                  </div>
              </li>
              <li class="hide"><label for="comment">Do Not Fill This
              Out</label> 
              <textarea cols="1" id="comment" name="comment" rows=
              "1"></textarea> <input id="idstamp" name="idstamp" type=
              "hidden" value=
              "k+BQri29oOaQIx0IOk3yGFRTTpXTCeRP/+MFdF9Fn6E="></li>
          </ul>
      </form>

  	</article>
  </section>
</span>


{% endblock %}
