{% extends "base.twig" %}

{% block content %}

<span class="our-team-background">
  <section class="section--our-team--hero">
    <article class="contents">
      {% include "header.twig" %}
      <header class="header--hero">
        <h1 class="header">Our Team</h1>
      </header>
  	</article>
    <a class="more-link--chevron" data-scroll href="#players"><span class="chevron-down--more"></span></a>
  </section>
</span>

<span class="players-background">
  <section class="section--players" id="players">

    {% if post.player %}

    <div class="main-gallery js-flickity"
      data-flickity-options='{
        "cellAlign": "center",
        "contain": false,
        "percentPosition": false,
        "setGallerySize": false,
        "wrapAround": true,
        "pageDots": false,
        "draggable": true,
        "autoPlay": false  
      }'
    >

        {% for item in post.get_field('player') %}
          {% set player_image = TimberImage(item.player_picture).src %}

          <div class="gallery-cell player">
              <img src="{{ player_image }}" alt="{{item.name}}">
              <h2 class="player--name">{{item.name}}</h2>
              <h3 class="player--team">{{item.team}}</h3>
          </div>

        {% endfor %}

      {% endif %}

    </div>

  </section>
</span>


{% endblock %}
